            body {
                height: 100%;
            }
​
            body {
                padding: 0;
                margin: 0;
            }
            h1 {
                position: relative;
                display: inline-block;
                padding: 0 55px;
                font-size: 30px;
                margin: 0 auto;
            }
            h1:before, h1:after {
                content: '';
                position: absolute;
                top: 50%;
                display: inline-block;
                width: 45px;
                height: 2px;
                border-top: solid 1px black;
                border-bottom: solid 1px black;
            }
            
            h1:before {
                left:0;
            }
            
            h1:after{
                right: 0;
            }
            #dis{
                display: flex;
                justify-content: space-between;
            }
            #weather{
                
                font-size: small;
                margin: 0 auto;
            }
            #box {
                margin: 2em 0;
                background: #f1f1f1;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
                text-align: center;
            }
            #box .box-title {
                font-size: 1.2em;
                background: #5fc2f5;
                padding: 4px;
                text-align: center;
                color: #FFF;
                font-weight: bold;
                letter-spacing: 0.05em;
            }
            #box p {
                padding: 15px 20px;
                margin: 0;
            }
            #box2{
            padding: 0.5em 1em;
            margin: 2em 0;
            color: #474747;
            background: whitesmoke;
            border-left: double 7px #4ec4d3;
            border-right: double 7px #4ec4d3;
            }
            .box2 p {
            margin: 0; 
            padding: 0;
            }
            table{
            width: 100%;
            border-spacing: 0;
            }

            table th{
            border-bottom: solid 2px #fb5144;
            padding: 10px 0;
            }

            table td{
            border-bottom: solid 2px #ddd;
            text-align: center;
            padding: 10px 0;
            }
            .box3{
                padding: 0.5em 1em;
                margin: 2em 0;
                color: #5d627b;
                background: white;
                border-top: solid 5px #5d627b;
                box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
            }
            .box3 p {
                margin: 0; 
                padding: 0;
                text-align: center;
            }
            #title_center{
                text-align: center;
            }


            *,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

a.btn-svg {
  font-weight: 700;
  line-height: 54px;

  width: 204px;
  height: 54px;
  padding: 0;

  cursor: pointer;
  text-decoration: none;

  background-color: transparent;
}

a.btn-svg svg {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

a.btn-svg svg rect {
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;

  stroke: #000;
  stroke-width: 2;
  stroke-dasharray: 200px, 16px;
  stroke-dashoffset: 70px;
}

a.btn-svg:hover svg rect {
  stroke-dashoffset: 284px;
}

a.btn-svg span {
  color: #000;
}

#center{
    text-align: center;
}